.w-display, .w-display_viewer {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.w-display_viewer {
    position: absolute;
}

.w-display_toolbar {
    position: absolute;
    bottom: 0;
}

.w-display_toolbar label {
    display: inline-block;
    margin: 5px;
}